<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"> </ion-back-button>
        </ion-buttons>
        <ion-title>
            &nbsp;Wort Detailseite
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="3">
            <ion-card style="background: antiquewhite;" *ngIf="this.word != undefined">
                <ion-card-header>
                    <ion-back-button color="secondary">Zurück</ion-back-button>
                    <div style="display: flex;">
                        <div>Das Wort lautet: <strong>{{this.word.schwText}}</strong></div>
                    </div>
                </ion-card-header>
                <ion-card-content>
                    <span>Mehr Info über das Wort:</span>
                    <div>
                        <div>Das Wort auf deutsch: <strong>{{this.word.deText}}</strong></div>
                    </div>
                    <div>
                        <div>Das Wort auf englisch: <strong>{{this.word.enText}}</strong></div>
                    </div>
                    <div>
                        <div>Das Wort wurde veröffentlicht am: <br>
                            <strong>{{this.word.publishDate |  date:'MM.dd.yyyy'}}</strong>
                        </div>
                    </div>
                    <br>
                    <br>
                    <ion-label>
                        <div *ngFor="let sentence of this.sentences">
                            <div>
                                <div>Beispiel auf Schwäbisch:<br>
                                    <strong>{{sentences[0].schw}}</strong>
                                    <audio src="assets/sounds/mixkit-game-show-suspense-waiting-667.wav"  controls></audio>
                                </div>
                            </div>
                            <div>
                                <div>Beispiel auf Deutsch:<br>
                                    <strong>{{sentences[0].de}}</strong>
                                    <audio src="assets/sounds/mixkit-game-show-suspense-waiting-667.wav"  controls></audio>
                                </div>
                            </div>
                            <div>
                                <div>Beispiel auf Englisch:<br>
                                    <strong>{{sentences[0].en}}</strong>
                                    <audio src="assets/sounds/mixkit-game-show-suspense-waiting-667.wav"  controls></audio>
                                </div>
                            </div>
                        </div>
                    </ion-label>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
